#
# Note: you need to `sudo apt-get install direnv` to make this file be applied.
#

# One ore more project IDs for the projects you want to use the tool with,
# separated by commas.
export MARGEBOT_PROJECT_IDS=1,2,3,4,5

export MARGEBOT_GITLAB_URL=https://gitlab.example.com

# You can typically use the same token you use for your Margebot installation
export MARGEBOT_GITLAB_TOKEN=top-secret-token

export MARGEBOT_HELPER_SLACK_WEBHOOK_URL=https://hooks.slack.com/path/to/webhook
export MARGEBOT_HELPER_SLACK_CHANNEL='#some-slack-channel'

export MARGEBOT_HELPER_STATE_FILE_PATH_PREFIX=local/state

# Put local overrides in .envrc.local (which is not committed to the repo) to
# override e.g. the GitLab token for local testing
[[ -f .envrc.local ]] && dotenv .envrc.local
